<template>
    <div>
      <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Contacto</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Contáctenos</p>
                </div>
            </div>
        </header>
        <section class="contact">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4">

                    <div class="col-lg-6">

                        <div class="row gy-4">
                            <div class="col-md-6">
                                <div class="info-box">
                                    <i class="bi bi-geo-alt"></i>
                                    <h3>Dirección</h3>
                                    <p>Monteria - Cordoba</p> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box">
                                    <i class="bi bi-whatsapp"></i>
                                    <h3>WhatsApp</h3>
                                   <p>+1 5589 55488 55</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box">
                                    <i class="bi bi-clock"></i>
                                    <h3>Horario de Servicio</h3>
                                     <p>Monday - Sabado<br>7:00 AM - 06:00 PM</p> 
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">
                        <form method="post" class="php-email-form">
                            <div class="row gy-4">

                                <div class="col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="Tu Nombre"
                                        required>
                                </div>

                                <div class="col-md-6 ">
                                    <input type="email" class="form-control" name="email" placeholder="Tu Correo"
                                        required>
                                </div>

                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="subject" placeholder="Asunto"
                                        required>
                                </div>

                                <div class="col-md-12">
                                    <textarea class="form-control" name="message" rows="6" placeholder="Mensaje"
                                        required></textarea>
                                </div>

                                <div class="col-md-12 text-center">
                                    <!-- <div class="loading">Loading</div>
              <div class="error-message"></div> -->
                                    <!-- <div class="sent-message">Your message has been sent. Thank you!</div> -->

                                    <button type="submit">Enviar Mensaje</button>
                                </div>

                            </div>
                        </form>

                    </div>

                </div>

            </div>

        </section>

        <!--
        <section id="values" class="values">
  
          <div class="container" data-aos="fade-up">
  
            <header class="section-header">
              <h2>Our Values</h2>
              <p>Odit est perspiciatis laborum et dicta</p>
            </header>
  
            <div class="row">
  
              <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="box">
                <img src="/public/assets/img/values-1.png" class="img-fluid" alt=""> 
                  <h3>Ad cupiditate sed est odio</h3>
                  <p>Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit. Et veritatis id.</p>
                </div>
              </div>
  
              <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                <div class="box">
                <img src="/public/assets/img/values-2.png" class="img-fluid" alt=""> 
                  <h3>Voluptatem voluptatum alias</h3>
                  <p>Repudiandae amet nihil natus in distinctio suscipit id. Doloremque ducimus ea sit non.</p>
                </div>
              </div>
  
              <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
                <div class="box">
                 <img src="/public/assets/img/values-3.png" class="img-fluid" alt=""> 
                  <h3>Fugit cupiditate alias nobis.</h3>
                  <p>Quam rem vitae est autem molestias explicabo debitis sint. Vero aliquid quidem commodi.</p>
                </div>
              </div>
  
            </div>
  
          </div>
  
        </section>
  
  
        <section id="counts" class="counts">
          <div class="container" data-aos="fade-up">
  
            <div class="row gy-4">
  
              <div class="col-lg-3 col-md-6">
                <div class="count-box">
                  <i class="bi bi-emoji-smile"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                      class="purecounter"></span>
                    <p>Happy Clients</p>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-3 col-md-6">
                <div class="count-box">
                  <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                      class="purecounter"></span>
                    <p>Projects</p>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-3 col-md-6">
                <div class="count-box">
                  <i class="bi bi-headset" style="color: #15be56;"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
                      class="purecounter"></span>
                    <p>Hours Of Support</p>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-3 col-md-6">
                <div class="count-box">
                  <i class="bi bi-people" style="color: #bb0852;"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                      class="purecounter"></span>
                    <p>Hard Workers</p>
                  </div>
                </div>
              </div>
  
            </div>
  
          </div>
        </section>
  
  
        <section id="features" class="features">
  
          <div class="container" data-aos="fade-up">
  
            <header class="section-header">
              <h2>Features</h2>
              <p>Laboriosam et omnis fuga quis dolor direda fara</p>
            </header>
  
            <div class="row">
  
              <div class="col-lg-6">
                <img src="/public/assets/img/features.png" class="img-fluid" alt=""> 
              </div>
  
              <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                <div class="row align-self-center gy-4">
  
                  <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                    <div class="feature-box d-flex align-items-center">
                      <i class="bi bi-check"></i>
                      <h3>Eos aspernatur rem</h3>
                    </div>
                  </div>
  
                  <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                    <div class="feature-box d-flex align-items-center">
                      <i class="bi bi-check"></i>
                      <h3>Facilis neque ipsa</h3>
                    </div>
                  </div>
  
                  <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                    <div class="feature-box d-flex align-items-center">
                      <i class="bi bi-check"></i>
                      <h3>Volup amet voluptas</h3>
                    </div>
                  </div>
  
                  <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                    <div class="feature-box d-flex align-items-center">
                      <i class="bi bi-check"></i>
                      <h3>Rerum omnis sint</h3>
                    </div>
                  </div>
  
                  <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                    <div class="feature-box d-flex align-items-center">
                      <i class="bi bi-check"></i>
                      <h3>Alias possimus</h3>
                    </div>
                  </div>
  
                  <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                    <div class="feature-box d-flex align-items-center">
                      <i class="bi bi-check"></i>
                      <h3>Repellendus mollitia</h3>
                    </div>
                  </div>
  
                </div>
              </div>
  
            </div> 
  
  
            <div class="row feture-tabs" data-aos="fade-up">
              <div class="col-lg-6">
                <h3>Neque officiis dolore maiores et exercitationem quae est seda lidera pat claero</h3>
  
      
                <ul class="nav nav-pills mb-3">
                  <li>
                    <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Saepe fuga</a>
                  </li>
                  <li>
                    <a class="nav-link" data-bs-toggle="pill" href="#tab2">Voluptates</a>
                  </li>
                  <li>
                    <a class="nav-link" data-bs-toggle="pill" href="#tab3">Corrupti</a>
                  </li>
                </ul>
  
        
                <div class="tab-content">
  
                  <div class="tab-pane fade show active" id="tab1">
                    <p>Consequuntur inventore voluptates consequatur aut vel et. Eos doloribus expedita. Sapiente atque
                      consequatur minima nihil quae aspernatur quo suscipit voluptatem.</p>
                    <div class="d-flex align-items-center mb-2">
                      <i class="bi bi-check2"></i>
                      <h4>Repudiandae rerum velit modi et officia quasi facilis</h4>
                    </div>
                    <p>Laborum omnis voluptates voluptas qui sit aliquam blanditiis. Sapiente minima commodi dolorum non
                      eveniet magni quaerat nemo et.</p>
                    <div class="d-flex align-items-center mb-2">
                      <i class="bi bi-check2"></i>
                      <h4>Incidunt non veritatis illum ea ut nisi</h4>
                    </div>
                    <p>Non quod totam minus repellendus autem sint velit. Rerum debitis facere soluta tenetur. Iure
                      molestiae assumenda sunt qui inventore eligendi voluptates nisi at. Dolorem quo tempora. Quia et
                      perferendis.</p>
                  </div>
  
                  <div class="tab-pane fade show" id="tab2">
                    <p>Consequuntur inventore voluptates consequatur aut vel et. Eos doloribus expedita. Sapiente atque
                      consequatur minima nihil quae aspernatur quo suscipit voluptatem.</p>
                    <div class="d-flex align-items-center mb-2">
                      <i class="bi bi-check2"></i>
                      <h4>Repudiandae rerum velit modi et officia quasi facilis</h4>
                    </div>
                    <p>Laborum omnis voluptates voluptas qui sit aliquam blanditiis. Sapiente minima commodi dolorum non
                      eveniet magni quaerat nemo et.</p>
                    <div class="d-flex align-items-center mb-2">
                      <i class="bi bi-check2"></i>
                      <h4>Incidunt non veritatis illum ea ut nisi</h4>
                    </div>
                    <p>Non quod totam minus repellendus autem sint velit. Rerum debitis facere soluta tenetur. Iure
                      molestiae assumenda sunt qui inventore eligendi voluptates nisi at. Dolorem quo tempora. Quia et
                      perferendis.</p>
                  </div>
  
                  <div class="tab-pane fade show" id="tab3">
                    <p>Consequuntur inventore voluptates consequatur aut vel et. Eos doloribus expedita. Sapiente atque
                      consequatur minima nihil quae aspernatur quo suscipit voluptatem.</p>
                    <div class="d-flex align-items-center mb-2">
                      <i class="bi bi-check2"></i>
                      <h4>Repudiandae rerum velit modi et officia quasi facilis</h4>
                    </div>
                    <p>Laborum omnis voluptates voluptas qui sit aliquam blanditiis. Sapiente minima commodi dolorum non
                      eveniet magni quaerat nemo et.</p>
                    <div class="d-flex align-items-center mb-2">
                      <i class="bi bi-check2"></i>
                      <h4>Incidunt non veritatis illum ea ut nisi</h4>
                    </div>
                    <p>Non quod totam minus repellendus autem sint velit. Rerum debitis facere soluta tenetur. Iure
                      molestiae assumenda sunt qui inventore eligendi voluptates nisi at. Dolorem quo tempora. Quia et
                      perferendis.</p>
                  </div>
  
                </div>
  
              </div>
  
              <div class="col-lg-6">
                 <img src="/public/assets/img/features-2.png" class="img-fluid" alt=""> 
              </div>
  
            </div>
  
          
            <div class="row feature-icons" data-aos="fade-up">
              <h3>Ratione mollitia eos ab laudantium rerum beatae quo</h3>
  
              <div class="row">
  
                <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
                 <img src="/public/assets/img/features-3.png" class="img-fluid p-4" alt=""> 
                </div>
  
                <div class="col-xl-8 d-flex content">
                  <div class="row align-self-center gy-4">
  
                    <div class="col-md-6 icon-box" data-aos="fade-up">
                      <i class="ri-line-chart-line"></i>
                      <div>
                        <h4>Corporis voluptates sit</h4>
                        <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                      </div>
                    </div>
  
                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                      <i class="ri-stack-line"></i>
                      <div>
                        <h4>Ullamco laboris nisi</h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                      </div>
                    </div>
  
                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                      <i class="ri-brush-4-line"></i>
                      <div>
                        <h4>Labore consequatur</h4>
                        <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                      </div>
                    </div>
  
                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                      <i class="ri-magic-line"></i>
                      <div>
                        <h4>Beatae veritatis</h4>
                        <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                      </div>
                    </div>
  
                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                      <i class="ri-command-line"></i>
                      <div>
                        <h4>Molestiae dolor</h4>
                        <p>Et fuga et deserunt et enim. Dolorem architecto ratione tensa raptor marte</p>
                      </div>
                    </div>
  
                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                      <i class="ri-radar-line"></i>
                      <div>
                        <h4>Explicabo consectetur</h4>
                        <p>Est autem dicta beatae suscipit. Sint veritatis et sit quasi ab aut inventore</p>
                      </div>
                    </div>
  
                  </div>
                </div>
  
              </div>
  
            </div>
  
          </div>
  
        </section>
  
  
        <section id="services" class="services">
  
          <div class="container" data-aos="fade-up">
  
            <header class="section-header">
              <h2>Services</h2>
              <p>Veritatis et dolores facere numquam et praesentium</p>
            </header>
  
            <div class="row gy-4">
  
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-box blue">
                  <i class="ri-discuss-line icon"></i>
                  <h3>Nesciunt Mete</h3>
                  <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure
                    perferendis tempore et consequatur.</p>
                  <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-box orange">
                  <i class="ri-discuss-line icon"></i>
                  <h3>Eosle Commodi</h3>
                  <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut
                    nesciunt dolorem.</p>
                  <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-box green">
                  <i class="ri-discuss-line icon"></i>
                  <h3>Ledo Markt</h3>
                  <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci
                    eos earum corrupti.</p>
                  <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-box red">
                  <i class="ri-discuss-line icon"></i>
                  <h3>Asperiores Commodi</h3>
                  <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident
                    adipisci neque.</p>
                  <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-box purple">
                  <i class="ri-discuss-line icon"></i>
                  <h3>Velit Doloremque.</h3>
                  <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at
                    autem alias eius labore.</p>
                  <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
                <div class="service-box pink">
                  <i class="ri-discuss-line icon"></i>
                  <h3>Dolori Architecto</h3>
                  <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti
                    recusandae ducimus enim.</p>
                  <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
  
            </div>
  
          </div>
  
        </section>
  
  
        <section id="pricing" class="pricing">
  
          <div class="container" data-aos="fade-up">
  
            <header class="section-header">
              <h2>Pricing</h2>
              <p>Check our Pricing</p>
            </header>
  
            <div class="row gy-4" data-aos="fade-left">
  
              <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                  <h3 style="color: #07d5c0;">Free Plan</h3>
                  <div class="price"><sup>$</sup>0<span> / mo</span></div>
                  <img src="/public/assets/img/pricing-free.png" class="img-fluid" alt=""> 
                  <ul>
                    <li>Aida dere</li>
                    <li>Nec feugiat nisl</li>
                    <li>Nulla at volutpat dola</li>
                    <li class="na">Pharetra massa</li>
                    <li class="na">Massa ultricies mi</li>
                  </ul>
                  <a href="#" class="btn-buy">Buy Now</a>
                </div>
              </div>
  
              <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                <div class="box">
                  <span class="featured">Featured</span>
                  <h3 style="color: #65c600;">Starter Plan</h3>
                  <div class="price"><sup>$</sup>19<span> / mo</span></div>
                <img src="/public/assets/img/pricing-starter.png" class="img-fluid" alt=""> 
                  <ul>
                    <li>Aida dere</li>
                    <li>Nec feugiat nisl</li>
                    <li>Nulla at volutpat dola</li>
                    <li>Pharetra massa</li>
                    <li class="na">Massa ultricies mi</li>
                  </ul>
                  <a href="#" class="btn-buy">Buy Now</a>
                </div>
              </div>
  
              <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                <div class="box">
                  <h3 style="color: #ff901c;">Business Plan</h3>
                  <div class="price"><sup>$</sup>29<span> / mo</span></div>
                  <img src="/public/assets/img/pricing-business.png" class="img-fluid" alt=""> 
                  <ul>
                    <li>Aida dere</li>
                    <li>Nec feugiat nisl</li>
                    <li>Nulla at volutpat dola</li>
                    <li>Pharetra massa</li>
                    <li>Massa ultricies mi</li>
                  </ul>
                  <a href="#" class="btn-buy">Buy Now</a>
                </div>
              </div>
  
              <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                <div class="box">
                  <h3 style="color: #ff0071;">Ultimate Plan</h3>
                  <div class="price"><sup>$</sup>49<span> / mo</span></div>
                  <img src="/public/assets/img/pricing-ultimate.png" class="img-fluid" alt=""> 
                  <ul>
                    <li>Aida dere</li>
                    <li>Nec feugiat nisl</li>
                    <li>Nulla at volutpat dola</li>
                    <li>Pharetra massa</li>
                    <li>Massa ultricies mi</li>
                  </ul>
                  <a href="#" class="btn-buy">Buy Now</a>
                </div>
              </div>
  
            </div>
  
          </div>
  
        </section>
  
  
        <section id="faq" class="faq">
  
          <div class="container" data-aos="fade-up">
  
            <header class="section-header">
              <h2>F.A.Q</h2>
              <p>Frequently Asked Questions</p>
            </header>
  
            <div class="row">
              <div class="col-lg-6">
      
                <div class="accordion accordion-flush" id="faqlist1">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq-content-1">
                        Non consectetur a erat nam at lectus urna duis?
                      </button>
                    </h2>
                    <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                      <div class="accordion-body">
                        Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur
                        gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                      </div>
                    </div>
                  </div>
  
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq-content-2">
                        Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
                      </button>
                    </h2>
                    <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                      <div class="accordion-body">
                        Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet
                        id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est
                        pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt
                        dui.
                      </div>
                    </div>
                  </div>
  
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq-content-3">
                        Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?
                      </button>
                    </h2>
                    <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                      <div class="accordion-body">
                        Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar
                        elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque
                        eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis
                        sed odio morbi quis
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
  
              <div class="col-lg-6">
  
           
                <div class="accordion accordion-flush" id="faqlist2">
  
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq2-content-1">
                        Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
                      </button>
                    </h2>
                    <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                      <div class="accordion-body">
                        Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet
                        id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est
                        pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt
                        dui.
                      </div>
                    </div>
                  </div>
  
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq2-content-2">
                        Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
                      </button>
                    </h2>
                    <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                      <div class="accordion-body">
                        Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in.
                        Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est.
                        Purus gravida quis blandit turpis cursus in
                      </div>
                    </div>
                  </div>
  
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq2-content-3">
                        Varius vel pharetra vel turpis nunc eget lorem dolor?
                      </button>
                    </h2>
                    <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                      <div class="accordion-body">
                        Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer
                        malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed.
                        Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed
                        egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim
                        nec.
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
  
            </div>
  
          </div>
  
        </section>
  
  
        <section id="portfolio" class="portfolio">
  
          <div class="container" data-aos="fade-up">
  
            <header class="section-header">
              <h2>Portfolio</h2>
              <p>Check our latest work</p>
            </header>
  
            <div class="row" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                  <li data-filter="*" class="filter-active">All</li>
                  <li data-filter=".filter-app">App</li>
                  <li data-filter=".filter-card">Card</li>
                  <li data-filter=".filter-web">Web</li>
                </ul>
              </div>
            </div>
  
            <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <img src="/public/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt=""> 
                  <div class="portfolio-info">
                    <h4>App 1</h4>
                    <p>App</p>
                    <div class="portfolio-links">
                      <a href="/public/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery"
                        class="portfokio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                   <img src="/public/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt=""> 
                  <div class="portfolio-info">
                    <h4>Web 3</h4>
                    <p>Web</p>
                    <div class="portfolio-links">
                      <a href="/public/assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery"
                        class="portfokio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                 <img src="/public/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt=""> 
                  <div class="portfolio-info">
                    <h4>App 2</h4>
                    <p>App</p>
                    <div class="portfolio-links">
                      <a href="/public/assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery"
                        class="portfokio-lightbox" title="App 2"><i class="bi bi-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                   <img src="/public/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt=""> 
                  <div class="portfolio-info">
                    <h4>Card 2</h4>
                    <p>Card</p>
                    <div class="portfolio-links">
                      <a href="/public/assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery"
                        class="portfokio-lightbox" title="Card 2"><i class="bi bi-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                   <img src="/public/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt=""> 
                  <div class="portfolio-info">
                    <h4>Web 2</h4>
                    <p>Web</p>
                    <div class="portfolio-links">
                      <a href="/public/assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery"
                        class="portfokio-lightbox" title="Web 2"><i class="bi bi-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
               <img src="/public/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt=""> 
                  <div class="portfolio-info">
                    <h4>App 3</h4>
                    <p>App</p>
                    <div class="portfolio-links">
                      <a href="/public/assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery"
                        class="portfokio-lightbox" title="App 3"><i class="bi bi-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                   <img src="/public/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt=""> 
                  <div class="portfolio-info">
                    <h4>Card 1</h4>
                    <p>Card</p>
                    <div class="portfolio-links">
                      <a href="/public/assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery"
                        class="portfokio-lightbox" title="Card 1"><i class="bi bi-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                  <img src="/public/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt=""> 
                  <div class="portfolio-info">
                    <h4>Card 3</h4>
                    <p>Card</p>
                    <div class="portfolio-links">
                      <a href="/public/assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery"
                        class="portfokio-lightbox" title="Card 3"><i class="bi bi-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                  <img src="/public/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt=""> 
                  <div class="portfolio-info">
                    <h4>Web 3</h4>
                    <p>Web</p>
                    <div class="portfolio-links">
                      <a href="/public/assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery"
                        class="portfokio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
  
          </div>
  
        </section>
  
     
  
        <section id="team" class="team">
  
          <div class="container" data-aos="fade-up">
  
            <header class="section-header">
              <h2>Team</h2>
              <p>Our hard working team</p>
            </header>
  
            <div class="row gy-4">
  
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                  <div class="member-img">
                    <img src="/public/assets/img/team/team-1.jpg" class="img-fluid" alt=""> 
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>Walter White</h4>
                    <span>Chief Executive Officer</span>
                    <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum
                      exercitationem iure minima enim corporis et voluptate.</p>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                  <div class="member-img">
                   <img src="/public/assets/img/team/team-2.jpg" class="img-fluid" alt=""> 
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>Sarah Jhonson</h4>
                    <span>Product Manager</span>
                    <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis.
                      Voluptate sed quas reiciendis animi neque sapiente.</p>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                  <div class="member-img">
                     <img src="/public/assets/img/team/team-3.jpg" class="img-fluid" alt=""> 
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>William Anderson</h4>
                    <span>CTO</span>
                    <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut
                      architecto porro aspernatur molestiae modi.</p>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                <div class="member">
                  <div class="member-img">
                   <img src="/public/assets/img/team/team-4.jpg" class="img-fluid" alt=""> 
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>Amanda Jepson</h4>
                    <span>Accountant</span>
                    <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid
                      doloremque ut possimus ipsum officia.</p>
                  </div>
                </div>
              </div>
  
            </div>
  
          </div>
  
        </section>
  
  
        <section id="clients" class="clients">
  
          <div class="container" data-aos="fade-up">
  
            <header class="section-header">
              <h2>Our Clients</h2>
              <p>Temporibus omnis officia</p>
            </header>
  
            <div class="clients-slider swiper">
              <div class="swiper-wrapper align-items-center">
               <div class="swiper-slide"><img src="/public/assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/public/assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/public/assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/public/assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/public/assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/public/assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/public/assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/public/assets/img/clients/client-8.png" class="img-fluid" alt=""></div> 
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
  
        </section>
  
  
        <section id="recent-blog-posts" class="recent-blog-posts">
  
          <div class="container" data-aos="fade-up">
  
            <header class="section-header">
              <h2>Blog</h2>
              <p>Recent posts form our Blog</p>
            </header>
  
            <div class="row">
  
              <div class="col-lg-4">
                <div class="post-box">
                 <div class="post-img"><img src="/public/assets/img/blog/blog-1.jpg" class="img-fluid" alt=""></div>
                  <span class="post-date">Tue, September 15</span>
                  <h3 class="post-title">Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit</h3>
                  <a href="blog-single.html" class="readmore stretched-link mt-auto"><span>Read More</span><i
                      class="bi bi-arrow-right"></i></a>
                </div>
              </div>
  
              <div class="col-lg-4">
                <div class="post-box">
                  <div class="post-img"><img src="/public/assets/img/blog/blog-2.jpg" class="img-fluid" alt=""></div> 
                  <span class="post-date">Fri, August 28</span>
                  <h3 class="post-title">Et repellendus molestiae qui est sed omnis voluptates magnam</h3>
                  <a href="blog-single.html" class="readmore stretched-link mt-auto"><span>Read More</span><i
                      class="bi bi-arrow-right"></i></a>
                </div>
              </div>
  
              <div class="col-lg-4">
                <div class="post-box">
                 <div class="post-img"><img src="/public/assets/img/blog/blog-3.jpg" class="img-fluid" alt=""></div> 
                  <span class="post-date">Mon, July 11</span>
                  <h3 class="post-title">Quia assumenda est et veritatis aut quae</h3>
                  <a href="blog-single.html" class="readmore stretched-link mt-auto"><span>Read More</span><i
                      class="bi bi-arrow-right"></i></a>
                </div>
              </div>
  
            </div>
  
          </div>
  
        </section>
  
  
        <section id="contact" class="contact">
  
          <div class="container" data-aos="fade-up">
  
            <header class="section-header">
              <h2>Contact</h2>
              <p>Contact Us</p>
            </header>
  
            <div class="row gy-4">
  
              <div class="col-lg-6">
  
                <div class="row gy-4">
                  <div class="col-md-6">
                    <div class="info-box">
                      <i class="bi bi-geo-alt"></i>
                      <h3>Address</h3>
                      <p>A108 Adam Street,<br>New York, NY 535022</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="info-box">
                      <i class="bi bi-telephone"></i>
                      <h3>Call Us</h3>
                      <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="info-box">
                      <i class="bi bi-envelope"></i>
                      <h3>Email Us</h3>
                      <p>info@example.com<br>contact@example.com</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="info-box">
                      <i class="bi bi-clock"></i>
                      <h3>Open Hours</h3>
                      <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                    </div>
                  </div>
                </div>
  
              </div>
  
              <div class="col-lg-6">
                <form action="forms/contact.php" method="post" class="php-email-form">
                  <div class="row gy-4">
  
                    <div class="col-md-6">
                      <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                    </div>
  
                    <div class="col-md-6 ">
                      <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                    </div>
  
                    <div class="col-md-12">
                      <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                    </div>
  
                    <div class="col-md-12">
                      <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                    </div>
  
                    <div class="col-md-12 text-center">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Your message has been sent. Thank you!</div>
  
                      <button type="submit">Send Message</button>
                    </div>
  
                  </div>
                </form>
  
              </div>
  
            </div>
  
          </div>
  
        </section>
  
      </main>
  
  
      <footer id="footer" class="footer">
  
        <div class="footer-newsletter">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-12 text-center">
                <h4>Our Newsletter</h4>
                <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
              </div>
              <div class="col-lg-6">
                <form action="" method="post">
                  <input type="email" name="email"><input type="submit" value="Subscribe">
                </form>
              </div>
            </div>
          </div>
        </div>
  
        <div class="footer-top">
          <div class="container">
            <div class="row gy-4">
              <div class="col-lg-5 col-md-12 footer-info">
                <a href="index.html" class="logo d-flex align-items-center">
                   <img src="/public/assets/img/logo.png" alt=""> 
                  <span>FlexStart</span>
                </a>
                <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies
                  darta donna mare fermentum iaculis eu non diam phasellus.</p>
                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
  
              <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
                </ul>
              </div>
  
              <div class="col-lg-2 col-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
                </ul>
              </div>
  
              <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                  A108 Adam Street <br>
                  New York, NY 535022<br>
                  United States <br><br>
                  <strong>Phone:</strong> +1 5589 55488 55<br>
                  <strong>Email:</strong> info@example.com<br>
                </p>
  
              </div>
  
            </div>
          </div>
        </div>
  
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><span>FlexStart</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
           
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </footer>
  
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
          class="bi bi-arrow-up-short"></i></a> -->

    </div>
</template>