<template>
  <div>
    <section id="hero" class="hero d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 flex-column justify-content-center">
            <h1 data-aos="fade-up">SERVI SOLUCIONES ATEHORTUA</h1><br>
            <h4 data-aos="fade-up" data-aos-delay="400">Confía en nosotros para mantener tu aire acondicionado en
              óptimas condiciones con nuestro servicio integral de mantenimiento, asegurando eficiencia y durabilidad.
            </h4>
            <div data-aos="fade-up" data-aos-delay="600">
              <div class="text-center text-lg-start">
                <a href="#about"
                  class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Ver Más</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
            <br><br>
            <img src="/public/assets/img/imagenes/logo_servi.png" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content" style="border-radius: 15px 0px 0px 15px;">
              <h2>Quienes Somos</h2><br>
              <h5 align="justify">En SERVI SOLUCIONES ATEHORTUA, te ofrecemos todo lo que necesitas para mantener tu
                espacio funcionando
                sin problemas. Desde aire acondicionado , estamos aquí para ti.</h5>

              <div class="text-center text-lg-start">

              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="/public/assets/img/imagenes/QuienesSomos.png" class="img-fluid" style="border-radius: 10px;"
              alt="">
          </div>

        </div>
      </div>

    </section>

    <section class="counts">
      <div class="container" data-aos="fade-up">
        <div class="row gy-4 justify-content-center">
          <header class="section-header">
            <p>Marcas</p>
          </header>
          <div class="col-lg-12 col-md-6">
            <center>
              <img src="/public/assets/img/marcas/client-logo1.png"
                style="width: 100px !important; margin-right: 40px;">
              <img src="/public/assets/img/marcas/client-logo2.png"
                style="width: 100px !important; margin-right: 40px;">
              <img src="/public/assets/img/marcas/client-logo3.png"
                style="width: 100px !important; margin-right: 40px;">
              <img src="/public/assets/img/marcas/client-logo4.png"
                style="width: 100px !important; margin-right: 40px;">
              <img src="/public/assets/img/marcas/client-logo5.png"
                style="width: 100px !important; margin-right: 40px;">
              <img src="/public/assets/img/marcas/client-logo6.png"
                style="width: 100px !important; margin-right: 40px;">
              <img src="/public/assets/img/marcas/client-logo7.png"
                style="width: 100px !important; margin-right: 40px;">
            </center>
          </div>


        </div>

      </div>
    </section>


    <!-- <section id="testimonials" class="testimonials">

      <div class="container aos-init aos-animate" data-aos="fade-up">

        <header class="section-header">
          <h2>Testimonios</h2>
          <p>Lo que dicen de nosotros</p>
        </header>

        <div
          class="testimonials-slider swiper swiper-initialized swiper-horizontal swiper-backface-hidden aos-init aos-animate"
          data-aos="fade-up" data-aos-delay="200">
          <div class="swiper-wrapper" id="swiper-wrapper-fdfa1c315adbf72d" aria-live="off"
            style="transition-duration: 0ms; transform: translate3d(-864px, 0px, 0px); transition-delay: 0ms;">

            <div class="swiper-slide" style="width: 432px;" role="group" aria-label="4 / 5" data-swiper-slide-index="3">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Excelente Servicio. Estaba llevando laa luz muy alta y despues del mantenimiento del aire
                  acondicionado ha bajado mi consumo </p>
                <div class="profile mt-auto">
                 <img src="/public/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt=""> 
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide swiper-slide-prev" style="width: 432px;" role="group" aria-label="5 / 5"
              data-swiper-slide-index="4">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa
                  labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                </p>
                <div class="profile mt-auto">
                  <img src="/public/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide" style="width: 432px;" role="group" aria-label="3 / 5" data-swiper-slide-index="2">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  11Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim
                  tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                </p>
                <div class="profile mt-auto">
                  <img src="/public/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                </div>
              </div>
            </div>
          </div>
          <div
            class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
            <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
              aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0"
              role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0"
              role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0"
              role="button" aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet" tabindex="0"
              role="button" aria-label="Go to slide 5"></span></div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>

      </div>

    </section> -->

    <section class="team">

      <div class="container  aos-init aos-animate" data-aos="fade-up">

        <header class="section-header">
          <p>Nuestros Servicios</p>
        </header>

        <div class="row gy-4 justify-content-center">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
            data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="/public/assets/img/galeria/aire1.jpeg" class="img-fluid" alt="" style="height: 300px !important;">
              </div>
              <div class="member-info">
                <h4>Mantenimiento de aire acondicionados</h4>
                <p align="center">Realizar mantenimiento preventivo cada 2 meses es esencial para evitar fallos
                  y prolongar la vida útil del equipo.</p>
                <a href="wa.me/573016620718" target="_black" class="btn btn-success"><i
                    class="fa-brands fa-whatsapp"></i> Solicitar</a>
              </div>

            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
            data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="/public/assets/img/galeria/aire4.jpeg" class="img-fluid" alt=""  style="height: 300px !important;">

              </div>
              <div class="member-info">
                <h4>Instalación de electrodomésticos</h4>
                <p>Garantizamos una instalación profesional y segura de todos sus electrodomésticos,
                  asegurando su correcto funcionamiento desde el primer día.</p>
                <a href="wa.me/573016620718" target="_black" class="btn btn-success"><i
                    class="fa-brands fa-whatsapp"></i> Solicitar</a>

              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
            data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="/public/assets/img/galeria/coser.jpeg" class="img-fluid" alt="" style="height: 300px !important;">
              </div>
              <div class="member-info">
                <h4>Mantenimiento de maquinas de coser</h4>
                <p>Ofrecemos un servicio completo de limpieza y lubricación para mantener su
                  máquina de coser funcionando sin problemas y prolongar su vida útil.</p>
                <a href="wa.me/573016620718" target="_black" class="btn btn-success"><i
                    class="fa-brands fa-whatsapp"></i> Solicitar</a>

              </div>
            </div>
          </div>

        </div>

      </div>

    </section>

  </div>
</template>
<script setup>
import { ref } from 'vue';
import VueSlickCarousel from 'vue-slick-carousel';

// Define image URLs
const images = ref([
  'https://via.placeholder.com/800x400?text=Image+1',
  'https://via.placeholder.com/800x400?text=Image+2',
  'https://via.placeholder.com/800x400?text=Image+3',
]);

// Slick carousel options
const slickOptions = {
  dots: true,
  infinite: true,
  speed: 500,
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2000,
};
</script>

<style scoped>
.carousel-wrapper {
  width: 80%;
  margin: auto;
}

img {
  width: 100%;
  height: auto;
}
</style>