<template>
    <div>

  
      <section id="about" class="about">
  
        <div class="container" data-aos="fade-up">
          <div class="row gx-0">
  
            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
              <div class="content" style="border-radius: 15px 0px 0px 15px;">
                <h2>Quienes Somos</h2><br>
                <h5 align="justify">En SERVI SOLUCIONES ATEHORTUA, te ofrecemos todo lo que necesitas para mantener tu
                  espacio funcionando
                  sin problemas. Desde aire acondicionado hasta máquinas de coser, estamos aquí para ti.</h5>
  
                <div class="text-center text-lg-start">
  
                </div>
              </div>
            </div>
  
            <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
              <img src="/public/assets/img/imagenes/QuienesSomos.png" class="img-fluid" style="border-radius: 10px;"
                alt="">
            </div>
  
          </div>
        </div>
  
      </section>

  
    </div>
  </template>
 