<template>
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a class="logo d-flex align-items-center">
        <img src="/public/assets/img/imagenes/logo_servi_head.png" alt="Logo">
      </a>

      <nav id="navbar" class="navbar">
        <ul class="desktop-menu">
          <li v-for="link in links" :key="link.name">
            <router-link :to="link.path">{{ link.name }}</router-link>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle" @click="toggleMobileMenu"></i>
      </nav>

    </div>

    <!-- Menú móvil -->
    <nav v-if="isMobileMenuOpen" class="mobile-menu">
      <ul>
        <li v-for="link in links" :key="link.name">
          <router-link :to="link.path" @click="toggleMobileMenu">{{ link.name }}</router-link>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
import { ref } from 'vue';

export default {
  name: 'Header',
  setup() {
    const isMobileMenuOpen = ref(false);

    const toggleMobileMenu = () => {
      isMobileMenuOpen.value = !isMobileMenuOpen.value;
    };

    const links = ref([
      { name: 'Inicio', path: '/' },
      { name: 'Quienes Somos', path: '/quienes-somos' },
      { name: 'Contactenos', path: '/contactenos' },
    ]);

    return {
      isMobileMenuOpen,
      toggleMobileMenu,
      links,
    };
  },
};
</script>

<style>
.header {
  /* Ajusta según tus necesidades */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Ocultar el ícono del menú móvil en escritorios */
.mobile-nav-toggle {
  display: none;
}

.desktop-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-menu li {
  margin: 0 10px;
}

.desktop-menu li a {
  text-decoration: none;
  color: #fff !important;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 60px;
  /* Ajusta según la altura de tu header */
  left: 0;
  width: 100%;
  background: #03a1d5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.mobile-menu li {
  padding: 15px;
  /* border-bottom: 1px solid #ddd; */
}

.mobile-menu li a {
  text-decoration: none;
  color: #fff !important;
  right: 5%;
  position: relative;
  font-weight: bolder;
}

/* Mostrar el ícono del menú móvil en dispositivos móviles */
@media (max-width: 768px) {
  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    font-size: 24px;
  }

  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }
}
</style>
