<script setup>
import { RouterView } from 'vue-router'; // Importa el enrutador desde tu archivo de configuración de rutas

import Header from './components/Enlaces/HeaderComponente.vue';
import Foot from './components/Enlaces/FootComponente.vue';
</script>


<template>
  <div> 
    <Header />
    <RouterView />
    <Foot />
  </div>
</template>
